body {
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdfdfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Lusitana", sans-serif;
  font-size: 48px;
}

h2 {
  font-family: "Exo2", serif;
  font-size: 36px;
}

p {
  font-family: "Maarcellus", serif;
  font-size: 21px;
}

button {
  font-family: "Maarcellus", serif;
  font-size: 21px;
  background: #ededed;
}

span {
  font-family: "Maarcellus", serif;
  font-size: 21px;
}
